html {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: fit-content;
  scroll-behavior: smooth;
}
.toggle-menu {
  padding: 2px;
  background-color: unset;
  width: 30px;
  border: 00;
  display: none;
}
.toggle-menu span {
  background-color: #47638e;
  height: 5px;
  width: 100%;
  display: block;
  margin-top: 2px;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(205, 100%, 70%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(205, 100%, 50%);
}

.numsSlider {
  animation: numsSlide 1s ease-in-out both;
}

@keyframes numsSlide {
  from {
    transform: translateY(-5vw);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.dNav {
  animation: dNav 1s ease-in-out both;
}

@keyframes dNav {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dUp {
  animation: dUp 1s ease-in-out both;
}
.hUp {
  animation: hUp 0.5s ease-in-out both;
}

@keyframes dUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hUp {
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

.slide {
  animation: slide 1s ease-in-out both;
}

.slideX {
  animation: slideX 1s ease-in-out both;
}

@keyframes slide {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideX {
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1350px;
  }
}
@media (min-width: 1750px) {
  .container {
    max-width: 1700px;
  }
}
@media (min-width: 2200px) {
  .container {
    max-width: 2000px;
  }
}
@media (min-width: 3000px) {
  .container {
    max-width: 2500px;
  }
}
@media (min-width: 4000px) {
  .container {
    max-width: 3500px;
  }
}
@media (min-width: 5000px) {
  .container {
    max-width: 4500px;
  }
}
@media (min-width: 6000px) {
  .container {
    max-width: 5500px;
  }
}
@media (max-width: 991px) {
  #theNav .nav-item {
    display: none;
  }
  #nav {
    justify-content: space-between;
  }
  .logo {
    font-size: 30px !important;
    margin-left: 5vw;
  }
  .logo img {
    width: 20px;
    height: 20px;
  }
  .toggle-menu {
    margin-right: 5vw;
    display: block;
  }
}
@media (min-width: 991px) {
  #hidden-menu {
    display: none !important;
  }
  .toggle-menu {
    display: none !important;
  }
}
.menu-active {
  display: block !important;
}

.active {
  color: #0096fe !important;
}
#upBtn {
  position: fixed;
  bottom: 2vh;
  right: 3vw;
  color: blue;
  font-size: 2.5vw;
  display: none;
  padding: 0.5vh 0.5vw;
  border: 0.3vw blue solid;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  z-index: 99;
}
.hidden {
  display: none !important;
}
#upBtn:hover {
  border-color: transparent;
  animation-name: up-dwn;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes up-dwn {
  0% {
    margin-bottom: 0vh;
  }
  50% {
    margin-bottom: -2vh;
  }
  75% {
    margin-bottom: 2vh;
  }
  100% {
    margin-bottom: 0.1vh;
  }
}

#theNav {
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
  align-items: center;
  justify-content: flex-end !important;
}
#theNav .nav-item {
  text-align: center;
  font-size: 1vw;
  margin-left: 1vw;
}
#theNav a:hover {
  color: #0096fe;
}
#theNav a {
  font-weight: bold;
  color: rgb(41 70 120 / 85%);
  font-size: 1vw;
}
.logo {
  color: rgb(56 74 107);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 3vw;
  align-self: center;
}
.logoImage {
  vertical-align: baseline;
  width: 2vw;
  height: 2vw;
}
.body1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../imgs/shape-a.png);
  background-color: #f5faff;
  position: relative;
}
nav {
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  /* position: fixed; */
}
.page1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-top: 5%;
  padding-left: 8%;
  padding-right: 8%;
}
.body1 td,
.body1 th {
  border-color: transparent;
  border-style: solid;
  border-width: 2vw;
  border-bottom-width: 0px;
  border-top-width: 0px;
}
.columns {
  display: flex;
  flex-flow: column nowrap;
}
.rows {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.body2 {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.body2 p {
  font-size: 1vw;
  margin-bottom: 1vw;
}
.body2 table {
  text-align: center;
  width: 25%;
  box-shadow: 0px 5px 20px 0px #7f84896b;
}

.body2 td {
  color: #0096fe;
  font-size: medium;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
}

.body2 tbody {
  border-width: 1px;
}
.about-the-disease {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.transmission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 8%;
  padding-left: 8%;
  margin-bottom: 10vh;
  margin-top: 10vh;
}
.cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.card-title {
  margin-bottom: 1vh;
}
.cards .card {
  border: 0;
}
#card-border {
  border: 0.4vh solid rgb(151, 191, 246);
  background-color: rgb(151, 191, 246);
}
.body4 {
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 10vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body4 .card {
  position: relative;
  border-color: white;
  width: 25%;
  padding: 2% 1%;
  box-shadow: 0px 5px 20px 0px #7f84896b;
}
.cards2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}
.cards2 img {
  position: absolute;
  border-color: transparent;
  box-shadow: 0px 0px 10px 1px rgb(100 250 200);
  border-radius: 50%;
  right: 2%;
  top: -16%;
}

#prevention {
  padding-right: 8%;
  padding-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
  padding-top: 15vh;
}
#prevention img {
  border-radius: 50%;
  margin-bottom: 2vh;
}
#take-steps {
  display: flex;
  flex-direction: row;
  border: 2vw solid white;
  margin-left: 12vw;
  margin-right: 12vw;
  background-color: white;
}
#take-steps span {
  margin-bottom: 2vh;
}
#wash-hands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 8%;
  padding-left: 8%;
  height: 100vh;
}

#wash-hands p {
  text-align: center;
}

#treatment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  background-color: rgb(39, 102, 187);
  background-image: url(../imgs/shape-a.png);
}
#treatment .selfCare {
  background-color: rgb(27, 71, 161);
  border: 1px rgb(27, 71, 161) solid;
  border-radius: 2%;
  padding: 3% 3%;
  margin-left: 2vw;
}
#dos-donts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 10vh;
}
#Q-A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.q-Button:hover {
  color: rgb(23 109 232) !important;
  border-color: rgb(23 109 232) !important;
}
.collored {
  color: rgb(23 109 232) !important;
  border-color: rgb(23 109 232) !important;
}
.non {
  display: block !important;
}

footer li a {
  text-decoration: none;
}
